*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color:#FFF8F3 ;
    padding-top: 51px;
    background: url(/images/developer.png), url(/images/header_bg.png), #FFF8 ;
    background-position: top left , bottom right;
    background-repeat: no-repeat;
}
nav{
    width: 1140px;
    max-width: 1140px;
    /* border: 2px solid black; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
h2{
    font-size: 45px;
    
}
h2 span{
    color: #FD6E0A;
    font-weight: 800;
}
nav ul{
    display: flex;
    gap: 51px;
    color: #474747;
    align-items: center;
}
nav a{
    text-decoration: none;
}
nav li{
    list-style: none;
}
.btn{
    background-color: #FD6E0A;
    padding:18px 35px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    
}

.banner{
    margin-left: 215px;
    margin-right: 53px;
    display: flex;
}
.banner-content{
    max-width: 585px;

}
.banner-content{
    margin-top: 145px ;
    margin-bottom: ;
    margin-right:200px ;
    justify-content: space-between;
    align-items: center;
}
.banner-content h3{
    color: #474747;
    font-size: 45px;
    margin-top: 5px;

}
.banner-content h1{
    color: black;
    font-size: 65px;
    margin-top: 20px;
}
.banner-content p{
    color: #757575;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.banner-image img{
    max-width: 584px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;
}
#about .section-container{
    width: 1140px;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 156px;
}
#about .section-container{
    background-color: #FFF8F3;
}
#about .section-heading h2{
    font-size: 35px;
    margin-top: 30px;
}
#about .section-heading p{
    line-height: 30px;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}
#about .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card{
    font-size: 20px;
    color: #757575;

}